html{
    scroll-behavior: smooth;
}

.h3{
    position: absolute;
    width: 50px;
    height: 60px;
    left: 620px;
    top: 30px; 
}

body{
    background-color: #262424;
}
.hapimg{
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 13em;
}
.button1{
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 60pt;
}
.scroll{
    padding:20px 25px ;
    background-color: beige;
    font-size: 20px;
    border: 1px solid beige;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
}
.scroll:hover{
    background-color: coral;
    transition:0.3s;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
 
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}

